<div class="content  w-full p-[1rem] pt-[8%] w-[100%]
    flex justify-center items-start gap-4 flex-wrap
    mobile:flex-col tablet:flex-col
    ">
  <div class="mission  text-center flex-1
      mobile:w-[100%] tablet:w-[100%]
    ">
    <h1 class="text-regular font-bold">MISIÓN</h1>
    <p class="text-regular  mobile:text-base  tablet:text-base">Al 2026 ser una empresa diversificada, enfoncándose a crear una solución integral en las áreas
       especializadas para proveerles un servicio con la mejor calidad y satisfaciendo la necesidad nuestros clientes.</p>
  </div>
  <div class="bar w-[.2rem] h-[8rem] bg-geo-yellow mobile:hidden tablet:hidden"></div>
  <div class="vision  text-center flex-1
      mobile:w-[100%] tablet:w-[100%]
    ">
    <h1 class="text-regular font-bold">VISION</h1>
    <p class="text-regular  mobile:text-base  tablet:text-base">Consolidarnos como líderes en el suministro e instalación de Geosinteticos en el mercado local y
       nacional contando con máquinas de última generación que aseguran la mas alta calidad en los trabajos realizados.</p>
  </div>
  <div class="bar w-[.2rem] h-[8rem] bg-geo-yellow mobile:hidden tablet:hidden"></div>
  <div class="objetives  text-center flex-1
      mobile:w-[100%] tablet:w-[100%]
    ">
    <h1 class="text-regular font-bold">OBJETIVOS</h1>
    <p class="text-regular   mobile:text-base tablet:text-base">Respeto, Integridad, Responsabilidad, Cumplimiento, Puntualidad.</p>
  </div>

</div>
