<div class="content-directions p-[1rem] h-[auto]
            bg-geo-blue text-geo-yellow text-base flex justify-between gap-3
            mobile:flex mobile:justify-center mobile:items-center mobile:flex-col mobile:text-sm
            tablet:text-sm
            ">
  <div class="directions   w-[65%]
              flex justify-between flex-row gap-3
              mobile:flex-wrap mobile:justify-between mobile:gap-3
              ">

    <div class="direction-locale
                      flex  gap-3 items-center justify-center
                      ">
      <i class="fa fa-location-arrow "></i>
      <div class="details">
        <p class="m-[0]">HUAMBOCANCHA ALTA K.M 7.5</p>
      </div>
    </div>
    <div class="direction-cellphone
                      flex gap-3 items-center justify-center
                      ">
      <i class="fa fa-phone"></i>
      <div class="details">
        <p>989946057 - 949191079 - 963191073</p>
      </div>
    </div>
    <div class="direction-email
                      flex  gap-3 items-center justify-center
                      ">
      <i class="fa fa-envelope"></i>
      <div class="details">
        <p>{{'ingenieria@geomaceirl.com'}}</p>
      </div>
    </div>

  </div>

  <div class="social
    flex gap-4 flex-row justify-center items-center

    ">
    <span>Seguir: </span>
    <ul class="social-links flex flex-row gap-4 items-center">
      <li class="text-geo-white" ><a href="https://www.facebook.com/Geomac-101555935964397" target="_blank" rel="noopener noreferrer"><i
            class="fa fa-facebook"></i></a></li>
      <li class="text-geo-white" ><a href="https://www.instagram.com/geomacperu/" target="_blank" rel="noopener noreferrer"><i
            class="fa fa-instagram"></i></a></li>
    </ul>
  </div>

</div>
