<section class="content-footer bg-geo-blue-black w-[100%] p-[1rem] h-screen
          flex flex-col justify-around items-center gap-6
          mobile:h-auto
          tablet:h-auto
          ">

  <div class="w-full text-geo-white    h-auto
            flex justify-between items-start flex-row gap-3
            mobile:flex-col
            tablet:flex-col
  ">
    <div class="widget gap-3 flex-1  flex flex-col  h-full
                mobile:w-full mobile:text-sm
                tablet:w-full tablet:text-sm

                ">
      <div class="footer-logo w-[60%]"><img src="assets/img/logo-footer.svg" alt></div>
      <ul class="contact-info  w-[100%]
                    flex flex-col flex-between items-center gap-5

                    ">
        <li class="flex justify-between gap-5 flex items-center  w-[100%]">
          <i class="fa fa-home text-geo-yellow   text-medium mobile:text-regular tablet:text-regular"></i>
          <div class="text  w-[80%]">
            Oficina: Huambocancha alta km 7.5 <br>Almacén: Huairapongo grande km 3
          </div>
        </li>
        <li class="flex justify-between gap-5 flex items-center  w-[100%]">
          <i class="fa fa-phone  text-geo-yellow text-medium mobile:text-regular tablet:text-regular"></i>
          <div class="text  w-[80%]">
            989946057 - 949191079 - 963191073
          </div>
        </li>
        <li class="flex justify-between gap-5 flex  items-center  w-[100%]">
          <i class="fa fa-envelope  text-geo-yellow  text-medium mobile:text-regular tablet:text-regular"></i>
          <div class="text  w-[80%] ">
            Correo: <br>{{'ingenieriageomac@gmail.com' }}<br>
            {{'ingenieria@geomaceirl.com'}}
          </div>
        </li>
      </ul>
    </div>

    <div class="widget gap-3    flex-1 h-full
                flex flex-col items-between
                mobile:w-full mobile:text-sm
                tablet:w-full tablet:text-sm
          ">
      <h3 class="text-3xl mobile:text-xl tablet:text-xl">SERVICIOS
        <div class="line bg-geo-yellow w-[3rem] h-[.3rem]"></div>
      </h3>
      <ul class="flex flex-col gap-3">
        <li><a href="#">Instalación de Geomembrana, Geotextil, Geomantas, Geocompuesto, GCL </a></li>
        <li><a href="#">Instalación de Geonet, Gemallas y Geoceldas</a></li>
        <li><a href="#">Instalación y venta de Soldadura de Tuberia HDPE</a></li>
        <li><a href="#">Construcción de Canales perimetrales</a></li>
      </ul>
    </div>

    <div class="widget gap-3 flex-1 h-auto
                flex flex-col items-between
                mobile:w-full mobile:text-sm
                tablet:w-full tablet:text-sm
                ">
      <h3 class="text-3xl mobile:text-xl tablet:text-xl">MENU
        <div class="line bg-geo-yellow w-[3rem] h-[.3rem]"></div>
      </h3>
      <ul class="flex  justify-center  flex-col gap-3 h-auto">
        <li><a href="/inicio">Inicio</a></li>
        <li><a href="/nosotros">Nosotros</a></li>
        <li><a href="/servicios">Servicios</a></li>
        <li><a href="/producto">Productos</a></li>
        <li><a href="/proyectos">Proyectos</a></li>
        <li><a href="/clientes">Clientes</a></li>
        <li><a href="/contacto">Trabaja con nosotros</a></li>
      </ul>
    </div>

    <div class="widget gap-3 flex-1 h-full
            flex flex-col
            mobile:w-full mobile:text-sm
            tablet:w-full tablet:text-sm
      ">
      <h3 class="text-3xl mobile:text-xl tablet:text-xl">REDES SOCIALES
        <div class="line bg-geo-yellow w-[3rem] h-[.3rem]"></div>
      </h3>

      <ul class="flex justify-center flex-col gap-3 h-auto">
        <li class="h-auto">
          <div class="info-box flex gap-3 items-center">
            <i class="fa fa-facebook w-[10%] text-geo-yellow"></i>
            <strong><a href="https://www.facebook.com/Geomac-101555935964397" target="_blank"
                rel="noopener noreferrer">Buscanos en Facebook.</a></strong>
          </div>
        </li>
        <hr class="text-geo-griss-light">
        <li class="h-auto">
          <div class="info-box flex gap-3 items-center">
            <i class="fa fa-instagram w-[10%] text-geo-yellow"></i>
            <strong><a href="https://www.instagram.com/geomacperu/" target="_blank" rel="noopener noreferrer">Buscanosen
                Instagram.</a></strong>
          </div>
        </li>

      </ul>
    </div>

  </div>

  <div class="copyright-info">
    <div class="info-arlinton">
      <p class="text-geo-griss-light">2024 &copy; Todos los derechos reservados por:
        <a href="https://arlinton-arturo.vercel.app/arlinton/home" class="text-geo-yellow">ARLINTON DELGADO</a>
      </p>
    </div>
  </div>

</section>
