<div class="content w-full   p-[1rem]
        flex justify-between items-center
      ">
  <div class="title w-[40%] flex flex-col gap-2
  mobile:w-full
  tablet:w-full
        ">
    <p class="text-medium font-bold mobile:text-base">Geomac ingeniería y servicios generales EIRL

    </p>
    <div class=" bg-geo-yellow h-[.3rem] w-[5rem]">
    </div>
    <div class="description">
      <p class="text-regular mobile:text-base tablet:text-base">Somos una empresa Cajamarquina especializada en instalación de Geosintéticos, obras civiles y mantenimiento de plantas,
        ademas prestamos el servicio de arriendo de maquinaria liviana, servicios de soldadura industrial. <br><br>

        Nuestro personal se encuentra capacitado y especializado en cada área, contamos con maquinaria propia
        y de esta manera cumplimos con nuestros objetivos trabajando en un entorno que motiva y desarrollo a nuestro personal.</p>
    </div>
  </div>

  <div class="img relative h-[30rem] w-[50%]
      mobile:hidden
      tablet:hidden
    ">
    <div class="chart absolute right-[0] border border-4 border-geo-yellow h-[100%] w-[28rem]

    ">

    </div>
    <img class="w-[80%] h-[75%] absolute top-[12%] left-[12%]" src="../../../../assets/img/about/offer-pic.jpg" alt="">
  </div>
</div>
