<div class="content-logo-certifications  p-[1rem]
            flex justify-between items-center
            mobile:flex-col mobile:justify-center mobile:items-center
            ">

  <div class="site-logo w-[100%]
          ">
      <a href="/inicio" class="flex  items-center
          mobile:justify-center
      "><img class="logo  object-cover w-[30%] " src="assets/img/logo.svg" ></a>
  </div>


  <div class="awards  flex justify-between  gap-3 w-[100%]
            mobile:flex-wrap
            tablet:flex-wrap
            " >
      <div class="flex justify-center items-center gap-3  mobile:ml-[5rem]">
          <div class="icon text-geo-yellow text-4xl "><i class="fa-solid fa-award"></i></div>
          <div class="award-info">
              <h4 class="font-bold text-regular mobile:text-base tablet:text-base ">Rumbo a la Certificación</h4>
              <p class="text-sm text-geo-griss">ISO 9001:2016</p>
          </div>
      </div>
      <div class="flex justify-center items-center gap-3  mobile:ml-[5rem]">
          <div class="icon text-geo-yellow text-3xl "><i class="fa-solid fa-medal"></i></div>
          <div class="award-info">
              <h4 class="font-bold text-regular mobile:text-base tablet:text-base " >Garantia en desarrollo de Proyectos</h4>
              <p class="text-sm text-geo-griss">Años de experiencia</p>
          </div>
      </div>
  </div>

</div>
