
<div class="content  ">

  <section>
    <title-for-pages [titlePage]="title" />
  </section>

    <section class="h-screen flex flex-col justify-center items-center ">
      <div class="content-clints w-[90%] flex flex-col justify-center items-center gap-3">

        <div class="title flex flex-col justify-center items-center">
          <h1 class="text-large font-bold
            mobile:text-medium
            tablet:text-medium
          ">Nuestros Clientes</h1>
          <div class="bar h-[.3rem] w-[3rem] bg-geo-yellow "></div>
        </div>
        <div class="description
        mobile:text-sm
        ">
          <p>Compromiso en la realización de trabajo brindando un servicio de calidad.</p>
        </div>

        <home-companies/>

      </div>

    </section>

</div>
