<div class="content">

  <section class="content-title ">
    <title-for-pages class="" [titlePage]="title"  />
  </section>

  <section class=" flex justify-center items-center h-screen">
    <description-company class="w-[90%]" />
  </section>
  <section class="bg-geo-blue flex justify-center items-center h-[10rem]" >
    <div class="content w-[90%] p-[1rem] flex justify-center items-center">
      <h1 class="text-medium text-geo-white font-bold mobile:text-base">Nuestra única prioridad es la <span class="text-geo-yellow">satisfacción del cliente.</span></h1>
    </div>
  </section>
  <section class=" w-full flex justify-center items-center h-screen
      mobile:h-auto
      tablet:h-auto
    ">
    <because-better class="w-[90%]" />
  </section>

  <section class="w-full flex justify-center items-center h-screen bg-geo-blue " >
    <album-team class="w-[90%]"/>
  </section>

  <section class="flex justify-between items-center  flex-col gap-8 h-auto w-[100%] ">
    <company-objetives class="w-[90%] "/>
    <div class="other bg-geo-griss-light flex justify-center items-center h-auto">
      <div class="content  w-[90%] h-auto">
        <home-companies class=""/>
      </div>

    </div>

  </section>
</div>
