<div class="relative content w-full h-[18rem]">
  <div class="relative w-auto h-full">
    <img class="w-full h-full object-cover " src="../assets/img/album/one.jpg" alt="">
    <div class="absolute top-[0] opacity-[.7] float w-full h-full bg-geo-blue ">
  </div>
  </div>
  <div class="title text-geo-white absolute top-[30%] left-[6.6rem] mobile:left-[2rem]

    ">
    <h1 class="text-large text-geo-yellow" [innerHTML]="titlePage"></h1>
    <div class="content-paragraph flex items-center gap-2">
      <strong class="cursor-pointer text-regular" ><a href="/inicio">Inicio </a>< </strong>
      <span class="text-geo-yellow cursor-pointer"[innerHTML]="titlePage"></span>
    </div>
  </div>
</div>
