

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
  background-color: #353F4B;

  inline-size: .5rem;
  block-size: .5rem;



}
::-webkit-scrollbar-thumb{
  background:#B38D46 ;
}


.my-pagination ::ng-deep .ngx-pagination .current {
  background: red;
}
